<script>
	import { getContext, setContext, onMount } from 'svelte';
	import { writable } from 'svelte/store'
	import { TrackDefinition } from '../../track'

	// props
	export let height = 50
	export let background = '#eeeeee'
	export let caption = 'Features'

	// context
	const { tracks } = getContext('multi-track')

	// events
	const track = new TrackDefinition(caption, height, {
		alwaysRedraw: true,
		bufferOffset: true,
		bufferDestination: true,
	})

	let features = writable([])

	setContext('features', {
		features
	})

	onMount (() => {
		$tracks.push(track)
		tracks.set($tracks)

		return () => {
			$tracks = $tracks.filter((t) => t !== track)
		}
	})

	track.onPaintBuffer = ({ ctx, view }) => {
		const dst = view.destination
		const ofs = view.innerOffset

		ctx.fillStyle = background
		ctx.fillRect(dst.left, dst.top, dst.width + ofs.x, dst.height)

		for (let feature of $features) {
			if (feature.onPaint) {
				feature.onPaint({ ctx, view })
			}
		}

	}

</script>

<slot></slot>

<script context='module'>
	export class FeatureDefinition {
		constructor () {
			this.onPaint = null
		}
	}
</script>
