<script>
	import { getContext, createEventDispatcher, onMount } from 'svelte';
	import { TrackDefinition } from '../../track'
	import { colors, aminoAcids } from '../../constants'
	import glyphs from '../../assets/FiraMono-Regular.ttf'

	// props
	export let value = []
	export let height = 150

	export let caption = 'Logo'

	export let defPrefix = ''

	export let alphabet = aminoAcids

	export let colorScheme = colors.weblogoChemistry

	export let yAxisColor = '#000000'
	export let yAxisFont = '10px sans-serif'

	// context
	const { xScale, tracks, yAxisWidth, width } = getContext('multi-track')

	// events
	const dispatch = createEventDispatcher();
	const track = new TrackDefinition(caption, height)

	let group = null
	let image = null
	let painted = false

	onMount (() => {
		$tracks.push(track)
		tracks.set($tracks)

		// make SVG document an image
		let svgXml = (new XMLSerializer()).serializeToString(group)
		let blob = new Blob([svgXml], {type: 'image/svg+xml;charset=utf-8'})
		let URL = window.URL || window.webkitURL || window
		let blobURL = URL.createObjectURL(blob)

		image = new Image()
		image.onload = () => {
			painted = true
		}
		image.onerror = (e, source, lineno, colno, error) => {
			console.error(e, source, lineno, colno, error)
		}
		image.src = blobURL

		return () => {
			$tracks = $tracks.filter((t) => t !== track)
		}
	})

	$: bandWidth = $xScale.bandwidth() - 1

	track.onPaint = ({ ctx, view }) => {
		if (!painted) { return }

		const dst = view.destination
		const ofs = view.innerOffset

		ctx.drawImage(image, ofs.x, ofs.y, dst.width, dst.height - ofs.y, dst.left, dst.top + ofs.y, dst.width, dst.height - ofs.y)
	}

	track.onPaintCaptions = ({ ctx, view }) => {
		const dst = view.destination
		const ofs = view.innerOffset
		const icMax = Math.log2(alphabet.length)
		for (let ic = 0; ic < icMax; ic++) {
			const y = height - (ic / icMax) * height + dst.top;
			if (y - dst.top >= ofs.y) {
				ctx.strokeStyle = yAxisColor
				ctx.beginPath()
				ctx.moveTo(dst.left - 5, y)
				ctx.lineTo(dst.left, y)
				ctx.stroke()

				ctx.fillStyle = yAxisColor
				ctx.font = yAxisFont
				ctx.textBaseline = ic === 0 ? 'bottom' : 'middle'
				ctx.fillText(ic, dst.left - 10, y)
			}
		}
	}


	track.onClick = ({x}) => {
		const domain = $xScale.domain()
		const paddingOuter = $xScale(domain[0])
		const step = $xScale.step()

		const idx = Math.floor((x - paddingOuter) / step);
		const i = domain[idx];

		if (typeof i !== 'undefined') {
			dispatch('click', { i })
		}
	}

	function getColor (a) {
		for (let [k, v] of Object.entries(colorScheme)) {
			if (k.indexOf(a) >= 0) {
				return v
			}
		}
		return '#000000'
	}

</script>

{#if !painted}
<svg bind:this={group} width={$width} height={height}>
	<defs>
		{#each alphabet.map(a => { return {char: a, color: getColor(a), bbox: glyphs[a].bbox, path: glyphs[a].path}}) as {char, color, bbox, path}}
			<symbol
				id='logoglyph-{defPrefix}-{char}'
				width={bbox.x2 - bbox.x1}
				height={bbox.y2 - bbox.y1}
				viewBox="{bbox.x1} {bbox.y1} {bbox.x2 - bbox.x1} {bbox.y2 - bbox.y1}"
				preserveAspectRatio="none"
			>
			<rect y={bbox.y1} x={bbox.x1} width={bbox.x2 - bbox.x1} height={bbox.y2 - bbox.y1} fill={color} opacity=0.1/>
			<path d={path} fill={color} />
			</symbol>
		{/each}
	</defs>

	{#each value as column}
		<g class='logo-pos-{column.i}' transform='translate({$xScale(column.i) - yAxisWidth}, 0)'>
		{#each column.cumulativeFrequencies as [a, cf]}
			<use
				href="#logoglyph-{defPrefix}-{a}"
				x=0
				y={height - cf * height * column.relativeInformationContent}
				width={bandWidth}
				height={height * column.frequencies[a] * column.relativeInformationContent}
			/>
		{/each}
		</g>
	{/each}

</svg>
{/if}

<style>
	svg {
		display: none;
	}
</style>

<script context="module">

	export function computeFrequenciesFromMSA (msa) {
		const length = msa[0].sequence.length
		const counts = Array.from(new Array(length)).map((_, i) => {
			return {
				i: i + 1,
				frequencies: Object.fromEntries(aminoAcids.map(a => [a, 0]))
			}
		})

		for (let sr of msa) {
			if (sr.sequence.length !== length) {
				throw new Exception(`Sequence length mismatch for ${sr.identifier}`)
			}

			for (let i = 0; i < length; i++) {
				const a = sr.sequence.substr(i, 1)
				counts[i].frequencies[a] = (counts[i].frequencies[a] || 0) + 1
			}
		}

		for (let col of counts) {
			col.frequencies = Object.fromEntries(Object.entries(col.frequencies).map(([a, n]) => [a, n / msa.length]))
		}

		return counts
	}

	export function computeInformationContent ( frequencies, nSeqs, alphabet = aminoAcids ) {
		frequencies.forEach((col) => {

			const h = -alphabet
				.map((a) => col.frequencies[a])
				.map(p => p !== 0 ? p * Math.log2(p) : 0)
				.reduce((a, b) => a + b)

			const e = ( 1 / Math.log(2)) * (alphabet.length - 1) / (2 * nSeqs)
			const ic = Math.log2(alphabet.length) - (h + e)

			col.sortedFrequencies = Object.entries(col.frequencies).filter(([a, f]) => alphabet.indexOf(a) >= 0 && f > 0).sort((a, b) => a[1] - b[1])

			let cumFreq = 0
			col.cumulativeFrequencies = col.sortedFrequencies.map(([a, f]) => {
				cumFreq += f
				return [a, cumFreq]
			})

			col.informationContent = ic
			col.relativeInformationContent = ic / Math.log2(alphabet.length)
		})

		return frequencies
	}
</script>
