<script>
	import { getContext, createEventDispatcher, onMount } from 'svelte';
	import { TrackDefinition } from '../../track'
	import { colors } from '../../constants'

	// props
	export let value = []
	export let height = 15

	export let fontHeight = 12
	export let background = '#cccccc'

	export let caption = 'Sequence'

	export let colorScheme = colors.weblogoChemistry

	// context
	const { width, xScale, tracks, yAxisWidth } = getContext('multi-track')

	// events
	const dispatch = createEventDispatcher();
	const track = new TrackDefinition(caption, height)

	onMount (() => {
		$tracks.push(track)
		tracks.set($tracks)

		return () => {
			$tracks = $tracks.filter((t) => t !== track)
		}
	})

	track.onPaintBuffer = ({ ctx, view }) => {
		const bw = $xScale.bandwidth();
		const dst = view.destination
		const ofs = view.innerOffset

		ctx.fillStyle = background
		for (let v of value) {
			let x = $xScale(v.i) - ofs.x - yAxisWidth;
			ctx.fillRect(x, dst.top, bw - 1, height)
		}

		ctx.textAlign = 'center'
		ctx.textBaseline = 'middle'
		ctx.font = `bold ${fontHeight}px sans-serif`
		for (let v of value) {
			let x = $xScale(v.i) - ofs.x - yAxisWidth;
			ctx.fillStyle = getColor(v.a)
			ctx.fillText(v.a, x + bw / 2, dst.top + height / 2 )
		}
	}

	track.onClick = ({x}) => {
		const domain = $xScale.domain()
		const step = $xScale.step()

		const idx = Math.floor(x / step);
		const i = domain[idx];

		if (typeof i !== 'undefined') {
			dispatch('click', { i })
		}
	}

	function getColor (a) {
		for (let [k, v] of Object.entries(colorScheme)) {
			if (k.indexOf(a) >= 0) {
				return v
			}
		}
		return '#000000'
	}
</script>

<script context="module">
	export function fromSequence (sequenceRaw) {
		return sequenceRaw.split("").map((a, i) => { return {
			i: i + 1,
			a
		}})
	}
</script>
