<script>
	import MultiTrack from './components/MultiTrack.svelte'
	import Group from './components/tracks/Group.svelte'
	import Numbers from './components/tracks/Numbers.svelte'
	import Logo, {computeFrequenciesFromMSA, computeInformationContent} from './components/tracks/Logo.svelte'
	import Sequence, {fromSequence as sequenceFromSequence} from './components/tracks/Sequence.svelte'
	import HeatMap from './components/tracks/HeatMap.svelte'

	import Features from './components/tracks/Features.svelte'
	import Box from './components/tracks/features/Box.svelte'
	import SecondaryStructure from './components/tracks/features/SecondaryStructure.svelte'

	import {fromSequence as positionFromSequence} from './position'
	import {parseFASTA} from './fasta'

	import featuresArray from './examples/features.json'
	import fastaMSA from './examples/AMY_BACLI.UniRef30.fasta'

	const aminoAcids = 'ACDEFGHIKLMNPQRSTVWY'.split('')

	const msa = parseFASTA(fastaMSA)

	const logo = computeInformationContent(computeFrequenciesFromMSA(msa), msa.length)

	const seq0 = msa[0].sequence
	const positions = positionFromSequence(seq0);

	const records = msa.splice(0, 200).map((sr) => {
		return {
			identifier: sr.identifier,
			sequence: sequenceFromSequence(sr.sequence),
		}
	})

	let selectedPosition = null;

	function sequenceClicked (e) {
		selectedPosition = e.detail.i
	}

	const features = featuresArray[0].features
	let featuresCategorized = {}
	for (let feature of features) {
		if (!featuresCategorized[feature.category]) {
			featuresCategorized[feature.category] = []
		}

		featuresCategorized[feature.category].push(feature)
	}

	const heatMapData = []
	for (let row of logo) {
		heatMapData.push({
			i: row.i,
			data: row.frequencies,
		})
	}

	const featureCategories = [
		{caption: 'Processing', key: 'MOLECULE_PROCESSING', height: 30},
		{caption: 'Sites', key: 'DOMAINS_AND_SITES', height: 30},
		{caption: 'Structure', key: 'STRUCTURAL', height: 30},
	]

	const featureStyles = {
		'SIGNAL': {caption: 'Signal Peptide', background: '#ffffff', foreground: '#000000'},
		'CHAIN': {caption: 'Mature Peptide', background: '#333333', foreground: '#ffffff'},

		'ACT_SITE': {caption: '*', background: '#000000', foreground: '#ffffff'},
		'METAL': {caption: 'M', background: '#aa6600', foreground: '#ffffff'},
		'SITE': {caption: 'S', background: '#0000aa', foreground: '#ffffff'},

		'COIL': {component: SecondaryStructure, caption: 'C', background: '#666666', foreground: '#000000'},
		'HELIX': {component: SecondaryStructure, caption: 'H', background: '#ff6666', foreground: '#000000'},
		'STRAND': {component: SecondaryStructure, caption: 'E', background: '#ffff66', foreground: '#000000'},
		'TURN': {component: SecondaryStructure, caption: 'T', background: '#6666ff', foreground: '#000000'},

	}

	function getStyle(feature, height) {
		let style = {
			component: Box,
			caption: feature.type,
			background: '#666666',
			foreground: '#000000',
			height: height - 10,
		}

		if (featureStyles[feature.type]) {
			style = Object.assign(style, featureStyles[feature.type])
		}

		return style
	}
</script>

<main>
	<div style='width: 100%'>
	<MultiTrack positions={positions} yAxisWidth={200}>
		<Numbers height={30}/>
		<Group maxHeight={900} showHeader={false}>
			<Logo value={logo}/>

			<!-- this is the main sequence -->
			<Sequence caption={records[0].identifier} value={records[0].sequence} on:click={sequenceClicked} height={30} background='#bbbbbb'/>

			{#each featureCategories as category}
			<Features caption={category.caption} height={category.height}>
				{#each featuresCategorized[category.key].map(feature => { return { feature, style: getStyle(feature, category.height) }}) as { feature, style }}
					<svelte:component
						this={style.component}
						startPos={feature.begin}
						endPos={feature.end}
						caption={style.caption}
						background={style.background}
						foreground={style.foreground}
						height={style.height}
					/>
				{/each}
			</Features>
			{/each}

			<HeatMap value={heatMapData} states={aminoAcids}/>

			<!-- additional sequences from MSA -->
			<Group caption="MSA" maxHeight={300}>
				{#each records.splice(1) as sr, i}
					<Sequence caption={sr.identifier} value={sr.sequence} on:click={sequenceClicked} height={30} background={i % 2 == 0 ? '#dddddd' : '#eeeeee'}/>
				{/each}
			</Group>
		</Group>
	</MultiTrack>
	</div>

	{#if selectedPosition !== null}
	<div>Selected position is {selectedPosition}</div>
	{/if}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		margin: 0 auto;
	}
</style>
